body{
    background-color:rgb(30, 30, 30);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
header{
    color: rgb(220, 255, 91);
    font-size: 32px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.test{
    width: 50%;
    color: rgb(236, 236, 236);
    size: 25px;
}
.test span{
    font-style:italic
}
.test2{
    background-color:rgb(220, 255, 91);
    width: 50%;
    font-size: 14px;s
    color: rgb(30, 30, 30);
}
#test3{

    color: rgb(220, 255, 91);
}
#test4{

    color:rgb(220, 255, 91);
    font-style: italic;
}

