body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

.header, .footer {
    background-color: #00B5B8;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    color: white;
}

.container {
    display: flex;
    flex: 1;
    background-color: #E0F7FA;
    padding: 0.5rem;
}

.left {
    background-color: #81C784;
    flex: 1;
    padding: 2rem;
    margin: 0.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article {
    background-color: #FFB74D;
    flex: 3;
    padding: 2rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
   
}
.article p {
   
    position: relative;
    top:35%;
    left: 45%;
    align-items: flex-start; 
    color: white;
 
}
.images {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: flex-end;
}

.image {
    background-color: #FFD54F;
    flex: 1;
    margin: 0 0.5rem;
    height: 33%;
    text-align: center;
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}